
        
body {
     
     background-image: url('audi background 2.jpg');
     background-repeat: no-repeat;
     background-size: auto;
     overflow: auto;
    
}
        
  
p   {
    font-size: 20px;  
    color: darkgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(37, 36, 36);
    opacity: 0.7;
    
}

h1{

    font-size: 20px;
    color: red;
    margin-top: 230px;
}

nav {
    
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 0px;
    width: 100%;
       
}
nav ul {
    list-style: none;
    padding: 0px ;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav li {
    margin: 0;
}
nav a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30;
    color:rgb(180, 180, 184);
    text-decoration:none;
    transition: color : 0.3s, border-bottom 0.3s;
    padding: 35px;
    position: relative;
    opacity: 1.0;
    

}

img {
    opacity: 0.5;
}

img:hover{
    opacity: 2.0;
}
nav a:hover {
    color:rgb(216, 8, 8);
}

video {
            border-radius: 40px;
            overflow: hidden;
            margin: 0  auto;
            display:block;
            float: left;

}

footer{
    text-align: center;
    padding: 0px;
    
    
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 5px; /* Some padding */ 
  border: 5px solid #525352; /* Gray border */
  border-radius: 10px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1px; /* Add a top margin */
  margin-bottom: 5px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  
  
  
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #aa0404;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

label  {
    color: darkgray;
}
